apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  labels:
    alertmanager: main
    app: alertmanager
    release: prometheus
    managed-by: RaeburnBrainAI
    component: monitoring
    alertmanager_config: "true"
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m
    route:
      receiver: 'slack-notifications'
    receivers:
      - name: 'slack-notifications'
        slack_configs:
          - channel: '#alerts'
            send_resolved: true
            api_url: https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX
